@include b(img) {
  display: flex;
  width: 320px;
}
@include b(icon-img) {
  //background-image: url("../asserts/img/img.svg");
}
@include b(img-input) {
  height: 32px!important;
  width: 75%!important;
  box-sizing: border-box;
}
@include b(choose-file-btn) {
  width: 25%;
  box-sizing: border-box;
  font-size: 12px;
  height: 32px;
  color: #555;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  cursor: pointer;
  outline: none;
}