@include b(icon-code) {
  //background-image: url("../asserts/img/code.svg");
}

@include b(code-textarea) {
  min-width: 500px;
  min-height: 200px;
  line-height: 22px;
  font-size: 14px;
  display: block;
  outline: #f2f2f2;
  border: 1px solid #dddddd;
  padding: 5px;
  background-color: rgba(39, 40, 34, 0.8);
  color: #f2f2f2;
  border-radius: 3px;
  overflow: auto;
}
